@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Created by @ViewData["Pessoa"]</p>

<address>
    <strong>More information: </strong> <a href="www.linkedin.com/in/samuel-vitor">linkedin/samuel-vitor</a>
</address>